<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">About</a>
  <h1>Blog Page</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis impedit
    libero placeat voluptatem ut illum nisi architecto minima beatae eius?
    Tempora quisquam placeat iure temporibus voluptatum, excepturi magni ratione
    voluptatem.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A possimus expedita
    ducimus repellendus quasi deleniti laboriosam, nulla facilis facere
    consectetur placeat, illum iure autem, eum explicabo exercitationem eius
    accusantium est!
  </p>
</body>
